@import "uikit";

html {
  font-size: 2em;
}

ul.examples {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  li {
    margin: 0 0 1em 0;
  }
}

input {
  @include input;
}

textarea {
  @include textarea;
}

input[type="search"] {
  @include search;
}

input[type="range"] {
  @include range;
}

progress {
  @include progress;
}

.progress {
  @include progress;
}

[checkbox] {
  @include checkbox;
}

[radio] {
  @include radio;
}

[toggle] {
  @include toggle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  @include button;
}