// UI Settings:
$ui-color:           #3C98EE !default;
$ui-radius:          3px !default;
$ui-aperture:        80% !default;
$ui-depth:           10% !default;
$ui-speed:           .1s !default;
$input-border:       1px !default;

// UI Colors:
$ui-negitive:        #F32C2C !default;
$ui-positive:        #2FD82F !default;
$ui-warn:            #F28C2C !default;
$ui-disabled:        #cccccc !default;

// Social colors via brandcolors.net
$color-500px:        #02adea !default;
$color-aim:          #fcd20b !default;
$color-behance:      #053eff !default;
$color-blogger:      #fc4f08 !default;
$color-deviantart:   #4e6252 !default;
$color-dribbble:     #ea4c89 !default;
$color-dropbox:      #3d9ae8 !default;
$color-etsy:         #eb6d20 !default;
$color-facebook:     #3b5998 !default;
$color-flickr:       #0063dc !default;
$color-flickr2:      #ff0084 !default;
$color-forrst:       #5b9a68 !default;
$color-foursquare:   #25a0ca !default;
$color-gimmebar:     #f70078 !default;
$color-github:       #171515 !default;
$color-googleplus:   #db4a39 !default;
$color-grooveshark:  #f77f00 !default;
$color-hackernews:   #ff6600 !default;
$color-html5:        #ec6231 !default;
$color-instagram:    #634d40 !default;
$color-lastfm:       #c3000d !default;
$color-linkedin:     #0e76a8 !default;
$color-meetup:       #e51937 !default;
$color-path:         #e41f11 !default;
$color-paypal:       #1e477a !default;
$color-paypal2:      #3b7bbf !default;
$color-pinboard:     #0000e6 !default;
$color-pinterest:    #c8232c !default;
$color-pocket:       #ee4056 !default;
$color-quora:        #a82400 !default;
$color-rdio:         #008fd5 !default;
$color-readability:  #9c0000 !default;
$color-rss:          #ee802f !default;
$color-shopify:      #96bf48 !default;
$color-skype:        #00aff0 !default;
$color-soundcloud:   #ff7700 !default;
$color-squarespace:  #121212 !default;
$color-stackoverflow:#ef8236 !default;
$color-stripe:       #008cdd !default;
$color-stumbleupon:  #f74425 !default;
$color-tumblr:       #34526f !default;
$color-twitchtv:     #6441a5 !default;
$color-twitter:      #00acee !default;
$color-ustream:      #3388ff !default;
$color-vimeo:        #86c9ef !default;
$color-vine:         #00a478 !default;
$color-virb:         #06afd8 !default;
$color-wordpress:    #21759b !default;
$color-wordpress2:   #d54e21 !default;
$color-wordpress3:   #464646 !default;
$color-xbox:         #9bc848 !default;
$color-yelp:         #c41200 !default;
$color-youtube:      #c4302b !default;