@mixin checkbox(
  $ui-color: $ui-color,
  $ui-radius: $ui-radius,
  $ui-disabled: $ui-disabled,
  $options: null
) {

  $ui-context: checkbox;

  input {
    display: none;
  }
  input + i:before {
    font-family: uikit;
    content: "\00A0";
    text-align: center;
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: top;
    line-height: 1.1;
    overflow: hidden;
    margin: 0 .25em 0 0;
    border-radius: $ui-radius;
    background-color: $ui-color;
    @if lightness($ui-color) < 60% {
      color: white;
    }
  }
  input:checked + i:before {
    background-color: $ui-color;
    content: "\2716";
  }
  input:disabled + i:before {
    background-color: $ui-disabled;
  }

  // Pull in custom skin
  @include ui-skin($ui-context, $options);
}